# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment — never push this
venv/
env/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Environment variables
.env
